.container {
  background-color: #fff;
  color: #222;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.25em;
  margin: 10px auto 30px;
  max-width: 750px;
}
.h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.25em;
}
.loading-content {
  padding: 10px;
}
.err-content {
  font-size: 20px;
  color: #999;
  padding: 10px;
}
.form-group {
  margin-top: 30px;
}
.form-group label {
  display: inline-block;
  margin: 0 10px;
}
.form-control {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.25em;
  padding: 6px;
  -webkit-appearance: none;
}
.list {
  margin: 20px 0 30px;
  max-width: 540px;
  padding: 0;
}
.list-item-header,
.list-item {
  list-style-type: none;
  padding: 10px;
}
.list-item-header {
  border-bottom: 4px solid #ccc;
  font-weight: bold;
}
.list-item {
  border-bottom: 1px solid #ccc;
}
.block-name,
.block-car,
.block-mb {
  display: inline-block;
  line-height: 24px;
}
.block-name {
  width: 100px;
}
.block-name small {
  color: #999;
  display: inline-block;
  line-height: 22px;
  margin-top: 4px;
}
.block-car {
  text-align: right;
  vertical-align: top;
  width: 80px;
}
.block-mb {
  text-align: right;
  vertical-align: top;
  width: 80px;
}
.btn-name {
  background-color: transparent;
  border: 0;
  border-bottom: 2px dotted #999;
  color: #222;
  display: block;
  font-size: 16px;
  padding: 2px 0;
  text-align: left;
}
.btn-car,
.btn-mb {
  background-color: transparent;
  border: 0;
  border-bottom: 2px dotted #999;
  color: #222;
  font-size: 16px;
  padding: 2px 0;
  text-align: right;
}
.btn-name:hover,
.btn-car:hover,
.btn-mb:hover {
  cursor: pointer;
  border-bottom: 2px solid #999;
}
.btn-name.desc:after {
  content: " \2193";
}
.btn-name.asc:after {
  content: " \2191";
}
.btn-car.desc:before,
.btn-mb.desc:before {
  content: "\2193 ";
}
.btn-car.asc:before,
.btn-mb.asc:before {
  content: "\2191 ";
}
